---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="mx-auto flex w-full max-w-[calc(640px+2rem)] flex-col">
    {[
      ["/update-explorer", "Update Explorer"],
      ["/webhook-utility", "Webhook Utility"],
      ["/filter-query-browser", "Filter Query Browser"],
    ].map((v) => (
      <a href={v[0]} class="px-4 py-2 text-grammy-600 duration-75 hover:bg-[rgba(0,0,0,.03)] dark:hover:bg-[rgba(255,255,255,.03)]">
        {v[1]}
      </a>
    ))}
  </main>
  <div class="h-[calc(100vh-60px-40px-40px-40px)]"></div>
  <footer class="bg-background px-4 pb-10 pt-4 text-xs">
    <div class="mx-auto flex w-full max-w-screen-sm justify-between gap-5">
      <p class="opacity-50">&copy; {new Date().getUTCFullYear()} grammyjs</p> <a href="https://github.com/grammyjs/tools" class="text-grammy-600">Source Code</a>
    </div>
  </footer>
</Layout>

<style>
h1 {
  font-size: 3rem;
  font-weight: 800;
  margin: 0;
}
.text-gradient {
  background-image: var(--accent-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400%;
  background-position: 0%;
}
.instructions {
  line-height: 1.6;
  margin: 1rem 0;
  border: 1px solid rgba(var(--accent), 25%);
  background-color: white;
  padding: 1rem;
  border-radius: 0.4rem;
}
.instructions code {
  font-size: 0.875em;
  font-weight: bold;
  background: rgba(var(--accent), 12%);
  color: rgb(var(--accent));
  border-radius: 4px;
  padding: 0.3em 0.45em;
}
.instructions strong {
  color: rgb(var(--accent));
}
.link-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
  gap: 1rem;
  padding: 0;
}
</style>
