@font-face {
  font-family: InterVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/InterVariable.woff2") format("woff2");
}
@font-face {
  font-family: InterVariable;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/InterVariable-Italic.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/source-code-pro-v22-cyrillic_cyrillic-ext_latin_latin-ext-regular.woff2") format("woff2");
}

:root {
  --grammy: #009dca;
  --accent: 124, 58, 237;
  --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
  --foreground: #181a1e;
  --grammy-background: #ffffff;
  --translucentbackground: #ffffffee;
  --altbackground: #eeeeee;
  --grammy-gradient: linear-gradient(45deg, #3f6abf, var(--grammy) 30%, white 60%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ffffff;
    --grammy-background: #181a1e;
    --translucentbackground: #181a1eee;
    --altbackground: #1f2127;
  }
}

html {
  font-family: InterVariable, "Inter var", "Inter", ui-sans-serif, system-ui,
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Helvetica, Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji", Oxygen, Ubuntu, Cantarell,
    "Fira Sans", "Droid Sans", sans-serif;
  background-color: #f6f6f6;
}

pre,
code {
  font-family:
    "Source Code Pro",
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
}

.blink {
  animation: blink 750ms infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.input {
  @apply w-full bg-altbackground p-3 outline-none placeholder:opacity-80 focus:outline-none dark:placeholder:opacity-50;
}

.button {
  @apply self-end text-grammy-600 duration-75 enabled:cursor-pointer enabled:hover:opacity-50 disabled:cursor-not-allowed disabled:opacity-50;
}

.jse-main,
.cm-scroller,
.jse-text-mode,
.jse-contents {
  border-left: none !important;
  border-bottom: none !important;
}
