---
import "@mdi/font/css/materialdesignicons.css";
import "vuetify/styles";
export interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-background text-foreground">
    <header class="bg-translucentbackground b-b b-gray-200 @dark:b-gray-800 sticky top-0 px-4 py-2">
      <div class="mx-auto flex max-w-screen-sm select-none flex-col">
        {
          title && (
            <a href="/" class="font-['Red_Hat_Display'] text-xs font-bold hover:opacity-70">
              grammY tools
            </a>
          )
        }
        {
          !title && (
            <a href="/" class="font-['Red_Hat_Display'] text-lg font-bold hover:opacity-70">
              grammY tools
            </a>
          )
        }
        {
          title && (
            <a href="#" class="text-lg hover:opacity-70">
              {title}
            </a>
          )
        }
      </div>
    </header>
    <slot />
  </body>
</html>
<style is:global>
  /* red-hat-display-700 - latin-ext_latin */
  @font-face {
    font-display: swap;
    font-family: "Red Hat Display";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/red-hat-display-v14-latin-ext_latin-700.woff2") format("woff2");
  }
  /* noto-sans-display-700 - cyrillic-ext_cyrillic */
  @font-face {
    font-display: swap;
    font-family: "Noto Sans Display";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/noto-sans-display-v20-cyrillic-ext_cyrillic-700.woff2") format("woff2");
  }
  /* red-hat-text-regular - latin-ext_latin */
  @font-face {
    font-display: swap;
    font-family: "Red Hat Text";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/red-hat-text-v13-latin-ext_latin-regular.woff2") format("woff2");
  }
  /* red-hat-text-italic - latin-ext_latin */
  @font-face {
    font-display: swap;
    font-family: "Red Hat Text";
    font-style: italic;
    font-weight: 400;
    src: url("/fonts/red-hat-text-v13-latin-ext_latin-italic.woff2") format("woff2");
  }
  /* red-hat-text-600 - latin-ext_latin */
  @font-face {
    font-display: swap;
    font-family: "Red Hat Text";
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/red-hat-text-v13-latin-ext_latin-600.woff2") format("woff2");
  }
  /* noto-sans-regular - cyrillic-ext_cyrillic */
  @font-face {
    font-display: swap;
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/noto-sans-v27-cyrillic-ext_cyrillic-regular.woff2") format("woff2");
  }
  /* noto-sans-italic - cyrillic-ext_cyrillic */
  @font-face {
    font-display: swap;
    font-family: "Noto Sans";
    font-style: italic;
    font-weight: 400;
    src: url("/fonts/noto-sans-v27-cyrillic-ext_cyrillic-italic.woff2") format("woff2");
  }
  /* noto-sans-600 - cyrillic-ext_cyrillic */
  @font-face {
    font-display: swap;
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/noto-sans-v27-cyrillic-ext_cyrillic-600.woff2") format("woff2");
  }
  /* source-code-pro-regular - latin */
  @font-face {
    font-display: swap;
    font-family: "Source Code Pro";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/source-code-pro-v22-latin-regular.woff2") format("woff2");
  }

  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
    --foreground: #181a1e;
    --background: #ffffff;
    --translucentbackground: #ffffffee;
    --altbackground: #eeeeee;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --foreground: #ffffff;
      --background: #181a1e;
      --translucentbackground: #181a1eee;
      --altbackground: #1f2127;
    }
  }

  html {
    font-family: "Red Hat Text", "Noto Sans", system-ui, sans-serif;
    background-color: #f6f6f6;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Red Hat Display", "Noto Sans Display", system-ui, sans-serif;
  }

  code {
    font-family: "Source Code Pro", Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
      Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>
