:root {
  --foreground: #181a1e;
  --background: #ffffff;
  --translucentbackground: #ffffffee;
  --altbackground: #eeeeee;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ffffff;
    --background: #181a1e;
    --translucentbackground: #181a1eee;
    --altbackground: #1f2127;
  }
}
